@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<br/>
<button class="btn btn-danger" @onclick="DivideByZero">Divide By Zero</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DivideByZero(MouseEventArgs args)
    {
        var zero = 0;
        var i = 10 / zero;
    }
}
