@page "/"
@using System.Text.Json
@using MudBlazor
@inject ISnackbar Snackbar
@inject AspireApp.WebWasm.Services.LocationHubService HubService


<MudButton OnClick="@ShowNotification" Variant="Variant.Filled" Color="Color.Primary">
    Show Test Snackbar
</MudButton>

<h3>Live Locations</h3>

@if (locations.Count == 0)
{
    <p>No locations received yet.</p>
}
else
{
    <ul>
        @foreach (var loc in locations)
        {
            <li>@loc</li>
        }
    </ul>
}

@code {
    private List<string> locations = new();

    protected override async Task OnInitializedAsync()
    {
        HubService.OnLocationChanged += message =>
        {
            Console.WriteLine($"📩 Received message: {JsonSerializer.Serialize(message)}");
            locations.Add(message.Name);
            InvokeAsync(StateHasChanged);
        };

        await HubService.StartAsync();
    }
    
    void ShowNotification()
    {
        Snackbar.Add("New location added!", Severity.Success);
    }
}
